$color1: rgba(236, 129, 87, 0.993);
$color2: rgb(202, 109, 22);
$color3: white; 
$color4: rgb(155, 13, 44);
$color5: black;
$color6: black;
$color7: black;
$color8: black;
$color8: black;

$font1: 1em;
$font2: 1.2em;
$font3: 1.4em;
$font4: 1.6em;
$font5: 1.8em;
$font6: 2em;
$font7: 2.2em;
$font8: 2.4em;
